/IDAL/obj/Debug/*.cache
/Wen.PetShop.BLL/obj/Debug/*.cache
/IDAL/obj/Debug
/Wen.PetShop.BLL/obj/Debug
/Wen.PetShop.CacheDependencyFactory/obj/Debug
/Wen.PetShop.DALFactory/obj/Debug
/Wen.PetShop.DBUtility/obj/Debug
/Wen.PetShop.IBLLStrategy/obj/Debug
/Wen.PetShop.IMessaging/obj/Debug
/Wen.PetShop.ICacheDependency/obj/Debug
/Wen.PetShop.IProfileDAL/obj/Debug
/Wen.PetShop.Membership/obj/Debug/*.cache
/Wen.PetShop.IDAL/obj/Debug/*.cache
/Wen.PetShop.MessagingFactory/obj/Debug/*.cache
/Wen.PetShop.Model/obj/Debug/*.cache
*.cache
*/obj
*/bin
